daterangestr==0.0.3
demjson==2.2.4
numpy==1.6.2
oauthlib==1.1.1
openweather==0.11
picamera==1.10
pifacecommon==4.1.2
pifacedigitalio==3.0.4
pygame===1.9.1release
pygobject==3.8.2
pyowm==2.3.1
pyserial==2.5
requests==2.10.0
requests-oauthlib==0.6.1
RPi.GPIO==0.6.2
six==1.10.0
tweepy==3.5.0
